:root {
    --mint: #6DE888;
    --black: #212121;
    --sky: #3FA7D6;
    --salmon: #ED4D6E;
    --dark-grey: #5D5D5D;
    --light-grey: #9A9A9A;
    --white: #F1FCF4;
  }

html {
    box-sizing: border-box;
    font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: var(--white);
}

body.homepage {
    background: var(--black);
}

.nav-bg {
    width: 100%;
    height: 100%;
    background: var(--black);
    position: absolute;
    z-index: -1;
}

header {
    position: relative;
}

ul {
    list-style-type: none;
}

/*Link styles*/

a {
    text-decoration: none;
}

a.nav-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    color: var(--white);
}


/*Creates the colored lines under active links*/
a.mint-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--mint);
    margin-top: 5px;
    z-index: -1;
}

a.sky-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--sky);
    margin-top: 5px;
    z-index: -1;
}

a.salmon-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--salmon);
    margin-top: 5px;
    z-index: -1;
}


/*Button styles*/
.btn-container {
    position: relative;
    width: 198px;
    z-index: 1;
}

/*Dark button*/
a.light-btn-text {
    font-family: 'Space Mono', monospace;
    color: var(--white);
    font-size: 1.4rem;
    font-style: italic;
    text-transform: uppercase;
}

.dark-btn-fg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border: 3px solid var(--white);
    width: 192px;
    height: 56px;
}

/*Light button*/
a.dark-btn-text {
    font-family: 'Space Mono', monospace;
    color: var(--black);
    font-size: 1.4rem;
    font-style: italic;
    text-transform: uppercase;
}

.light-btn-fg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border: 3px solid var(--black);
    width: 192px;
    height: 56px;
}

/*Button backgrounds*/
.mint-btn-bg {
    position: absolute;
    left: 6px;
    top: 9px;
    background-color: var(--mint);
    width: 192px;
    height: 56px;
    z-index: -1;
}

.sky-btn-bg {
    position: absolute;
    left: 6px;
    top: 9px;
    background-color: var(--sky);
    width: 192px;
    height: 56px;
    z-index: -1;
}

.intro-text {
    font-family: 'Space Mono', monospace;
    font-size: 2.4rem;
    font-weight: 400;
    font-style: normal;
}

/*Text styles*/
h1 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 3.6rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    position: relative;
}

/*h1.mint-line {
    display: inline-block;
    position: relative;
}*/

h1.mint-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--mint);
    margin-top: 5px;
    z-index: -1;
}

h1.sky-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--mint);
    margin-top: 5px;
    z-index: -1;
}

h1.salmon-line::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--mint);
    margin-top: 5px;
    z-index: -1;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.mint-text {
    color: var(--mint);
    font-weight: 700;
}

.sky-text {
    color: var(--sky);
    font-weight: 700;
}

.salmon-text {
    color: var(--salmon);
    font-weight: 700;
}

.home-text {
    color: var(--white);
}

.footer-text {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 2.4rem;
    color: var(--mint);
    font-style: italic;
    font-weight: 700;
}

.copyright-text {
    font-family: 'Space Mono', monospace;
    font-size: 1.2rem;
    color: var(--light-grey);
}

.img-container img {
    width: 100%; 
    display: block;
}