:root {
    --mint: #6DE888;
    --black: #212121;
    --sky: #3FA7D6;
    --salmon: #ED4D6E;
    --dark-grey: #5D5D5D;
    --light-grey: #9A9A9A;
    --white: #F1FCF4;
  }

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: var(--black);
}

ul {
    list-style-type: none;
}

a.nav-link {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--white);
}

a.work::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--mint);
    margin-top: 5px;
    z-index: -1;
}

a.about::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--sky);
    margin-top: 5px;
    z-index: -1;
}

a.writing::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 3px solid var(--salmon);
    margin-top: 5px;
    z-index: -1;
}

.intro-text {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    font-weight: 400;
}

h1 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
}

.mint-text {
    color: var(--mint);
}

.sky-text {
    color: var(--sky);
}

.salmon-text {
    color: var(--salmon);
}

.bold {
    font-weight: 800;
}

.home {
    color: var(--white);
}