<footer>

    <div class="footer-text--container">
        <div class="footer-line">
        </div>
        <p class="footer-text">Let's chat.</p>
        <ul>
            <li><a href="mailto:b.y.benedito@gmail.com" target="_blank" class="footer_nav-link">Email</a></li>
            <li><a href="https://www.linkedin.com/in/bobbieysabel/" target="_blank" class="footer_nav-link">LinkedIn</a>
            </li>
            <li><a href="https://twitter.com/bobbieysabel" target="_blank" class="footer_nav-link">Twitter</a>
            </li>
            <li><a href="https://www.instagram.com/bobbieysabel/" target="_blank" class="footer_nav-link">Instagram</a>
            </li>
            <li><a href="https://github.com/bobbieysabel" target="_blank" class="footer_nav-link">GitHub</a>
            </li>
        </ul>
    </div>
    <div class="copyright-container">
        <p class="copyright-text">Copyright • Bobbie Ysabel Benedito 2019</p>
    </div>
</footer>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75300036-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-75300036-2');
</script>

<script src="/js/backToTop.js"></script>
</body>

</html>