<footer>

    <div class="footer-text--container">
        <div class="footer-line">
        </div>
        <p class="footer-text">Let's chat.</p>
        <ul>
            <li><a href="mailto:b.y.benedito@gmail.com" target="_blank" class="nav-link--footer">Email</a></li>
            <li><a href="https://www.linkedin.com/in/bobbieysabel/" target="_blank"
                    class="nav-link--footer">LinkedIn</a></li>
            <li><a href="https://twitter.com/bobbieysabel" target="_blank" class="nav-link--footer">Twitter</a>
            </li>
            <li><a href="https://www.instagram.com/bobbieysabel/" target="_blank"
                    class="nav-link--footer">Instagram</a></li>
            <li><a href="https://github.com/bobbieysabel" target="_blank" class="nav-link--footer">GitHub</a>
            </li>
        </ul>
    </div>
    <div class="copyright-container">
        <p class="copyright-text">Copyright • Bobbie Ysabel Benedito 2019</p>
    </div>
</footer>
</div>
</body>

</html>