<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon" />
    <title>{{ page.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75300036-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-75300036-2');
    </script>

</head>

<body class="homepage">
    <div class="container">
        <header>
            <div class="header-bg">
            </div>
            <div class="logo-container">
                <a href="index.html">
                    <img src="assets/logo.svg" alt="logo">
                </a>
            </div>
            <nav>
                <ul>
                    <li><a href="index.html" class="nav-link mint-line mint-line--active">Work</a></li>

                    <li><a href="about.html" class="nav-link sky-line">About</a></li>

                    <li><a href="writing.html" class="nav-link salmon-line">Writing</a></li>
                </ul>
            </nav>
        </header>