<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <title>{{ page.title }}</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-75300036-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-75300036-2');
    </script>

</head>


{% if page.title == "Bobbie Ysabel Benedito | Designer" %}
<body id="homepage">
{% else %}
<body>
{% endif %}
    <div class="container">
        <header>
            <div class="header-bg">
            </div>
            <div class="logo-container">
                <a href="/index.html">
                    <img src="/assets/logo.svg" alt="logo">
                </a>
            </div>
            <nav>
                <ul id="nav-links">
                    {% if page.category == "work" %}
                    <li><a href="/index.html" class="nav-link work nav-link--active">Work</a></li>
                    {% else %}
                    <li><a href="/index.html" class="nav-link work">Work</a></li>
                    {% endif %}

                    {% if page.category == "about" %}
                    <li><a href="/about.html" class="nav-link about nav-link--active">About</a></li>
                    {% else %}
                    <li><a href="/about.html" class="nav-link about">About</a></li>
                    {% endif %}

                    {% if page.category == "writing" %}
                    <li><a href="https://ciphermuses.substack.com" class="nav-link writing nav-link--active" target="_blank">Substack</a></li>
                    {% else %}
                    <li><a href="https://ciphermuses.substack.com" class="nav-link writing" target="_blank">Substack</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>