{% include header.html %}

<main>
    <article class="essay">
        <div class="single-column">
            <h1>{{ page.title }}</h1>
            <h4>{{ page.date | date:'%B %d, %Y' }}</h4>
        </div>


            {{ content }}

    </article>

    <a class="back-to-top-container">
        <div class="flex--align-center">
            <svg width="36" height="49" viewBox="0 0 36 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="back-to-top" fill-rule="evenodd" clip-rule="evenodd"
                    d="M36 27.008V48.8855L18.0004 22.7993L0 48.8867V27.0092L18.0004 0.92181L36 27.008Z"
                    fill="#212121" />
            </svg>
            Back to Top
        </div>
    </a>
</main>

{% include footer.html %}